<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inscription</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar fixed-top navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="http://localhost:9003">Accueil</a>
        <a class="nav-link" href="/">Accueil connexion</a>
        <a class="nav-link" th:href="@{/login}">Se connecter</a>
    </div>
</nav>

<div class="container mx-auto align-content-center text-center" style="margin: 10%">


    <br><br>
    <form method="post" th:action="@{/signin}" th:object="${user}">
        <h3 th:if="${message != null}" th:text="${message}"></h3>
        <p>Prénom<input class="form-control" type="text" th:field="*{firstName}" placeholder="Prénom" required></p>
        <p>Nom<input class="form-control" type="text" th:field="*{lastName}" placeholder="Nom" required></p>
        <p>Pseudo<input class="form-control" type="text" th:field="*{pseudo}" placeholder="Pseudo" required></p>
        <p>Anniversaire<input class="form-control" type="date" th:field="*{birthday}" required></p>
        <p>Adresse<input class="form-control" type="text" th:field="*{address}" placeholder="35 rue haute, 68425 ville basse" required></p>
        <p>Email<input class="form-control" type="email" th:field="*{email}" placeholder="utilisateur@domaine.com" required></p>
        <p>Mot de passe<input class="form-control" type="password" placeholder="Mot de passe" th:field="*{password}"
                              required></p>
        <p>Confirmation mot de passe<input class="form-control" type="password"
                                           placeholder="Confirmation mot de passe" th:field="*{passwordConfirm}"
                                           required>
        </p>

        <button class="btn btn-primary" type="submit">M'inscrire</button>
    </form>
</div>

</body>
</html>
